<%- include('layouts/header'); -%>

    <section class="container text-center">
        <h1 style="color: red">User Deleted Successfully</h1>
        <a href="/users" class="btn btn-outline-info">Users</a>
    </section>

    <%- include('layouts/footer'); -%>