<%- include('layouts/header'); -%>

    <section class="container">
        <h1>Users List App</h1>
        <em>
            <li>MongoDB Cloud Atlas</li>
            <li>Mongoose</li>
            <li>EJS</li>
            <li>ExpressJS</li>
            <li>Body-Parser</li>
            <li>Dotenv</li>
        </em>
    </section>


<%- include('layouts/footer'); -%>