<%- include('layouts/header'); -%>

    <section class="container text-center">
        <h1>Insert New User</h1>

        <form action="/insert" method="post">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="userName" placeholder="Name">
                <label for="userName">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" name="userAge" placeholder="Age">
                <label for="userAge">Age</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="userEmail" placeholder="Email">
                <label for="userEmail">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="userAddress" placeholder="Address">
                <label for="userAddress">Address</label>
            </div>

            <button id="btn-insert" type="submit" class='btn btn-success'>Insert</button>

        </form>

    </section>

    <%- include('layouts/footer'); -%>